<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio vendedor</title>
</head>
<body>
    <h1>Bienvenido, {{ user.usuario }}</h1>
    <p>Tu ID de usuario es: {{ user.id }}</p>

    <!-- Formulario de logout -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</body>
</html>
