<!-- templates/administrador/categoriasAdmin/gestionarCategoriasAdmin.html -->

{% extends 'administrador/baseAdmin.html' %}

{% block content %}
  <h2>Gestión de Categorías</h2>

  <a href="{% url 'crearCategoriaAdmin' %}" class="btn btn-primary">Crear Nueva Categoría</a>

  <h3 class="mt-4">Categorías Existentes</h3>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Productos</th> <!-- Nueva columna -->
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre }}</td>
            <td>{{ categoria.descripcion }}</td>
            <td>{{ categoria.productos_count }}</td> <!-- Conteo de productos -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
