<!-- templates/administrador/categoriasAdmin/gestionarCategoriasAdmin.html -->

{% extends 'administrador/baseAdmin.html' %}

{% block content %}
  <h2>Gestión de Categorías</h2>

  <a href="{% url 'crearCategoriaAdmin' %}" class="btn btn-primary">Crear Nueva Categoría</a>

  <h3 class="mt-4">Categorías Existentes</h3>
  <table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id}}</td>
            <td>{{ categoria.nombre}}</td>
            <td>{{ categoria.descripcion}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
